<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smart_admin.mapper.SysPostMapper" >
  <resultMap id="BaseResultMap" type="com.example.smart_admin.domain.SysPost" >
    <id column="post_id" property="postId" jdbcType="BIGINT" />
    <result column="dept_id" property="deptId" jdbcType="BIGINT" />
    <result column="post_code" property="postCode" jdbcType="VARCHAR" />
    <result column="post_name" property="postName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <association property="dept" column="dept_id" javaType="SysDept" resultMap="DeptResultMap"/>
  </resultMap>

  <resultMap id="DeptResultMap" type="com.example.smart_admin.domain.SysDept" >
    <id column="dept_id" property="deptId" jdbcType="BIGINT" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="leader" property="leader" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    post_id, dept_id, post_code, post_name, status, create_by, create_time, update_by, 
    update_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    sp.post_id,
    sp.dept_id,
    sp.post_code,
    sp.post_name,
    sp.status,
    sp.create_by,
    sp.create_time,
    sp.update_by,
    sp.update_time,
    sd.dept_name ,
    sp.remark
    from
    sys_post sp
    left join sys_dept sd on sd.dept_id =sp.dept_id
    <trim prefix="where" prefixOverrides="and |or">
      <if test="postId!=null">
        and sp.post_id = #{postId,jdbcType=BIGINT}
      </if>
      <if test="deptId!=null">
        and sp.dept_id = #{deptId,jdbcType=BIGINT}
      </if>
    </trim>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_post
    where post_id = #{postId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.smart_admin.domain.SysPost" >
    insert into sys_post (post_id, dept_id, post_code, 
      post_name, status, create_by, 
      create_time, update_by, update_time, 
      remark)
    values (#{postId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT}, #{postCode,jdbcType=VARCHAR}, 
      #{postName,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.smart_admin.domain.SysPost" >
    insert into sys_post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="postCode != null" >
        post_code,
      </if>
      <if test="postName != null" >
        post_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=BIGINT},
      </if>
      <if test="postCode != null" >
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null" >
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.smart_admin.domain.SysPost" >
    update sys_post
    <set >
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=BIGINT},
      </if>
      <if test="postCode != null" >
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null" >
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where post_id = #{postId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.smart_admin.domain.SysPost" >
    update sys_post
    set dept_id = #{deptId,jdbcType=BIGINT},
      post_code = #{postCode,jdbcType=VARCHAR},
      post_name = #{postName,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where post_id = #{postId,jdbcType=BIGINT}
  </update>

  <select id="selectMaxId" resultType="integer">
    select MAX(post_id) from sys_post
  </select>

</mapper>