<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smart_admin.mapper.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.example.smart_admin.domain.Task" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_code" property="taskCode" jdbcType="VARCHAR" />
    <result column="task_time" property="taskTime" jdbcType="TIMESTAMP" />
    <result column="task_type" property="taskType" jdbcType="VARCHAR" />
    <result column="task_yield" property="taskYield" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_code, task_time, task_type, task_yield, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.smart_admin.domain.Task" >
    insert into task (id, task_code, task_time, 
      task_type, task_yield, state
      )
    values (#{id,jdbcType=INTEGER}, #{taskCode,jdbcType=VARCHAR}, #{taskTime,jdbcType=TIMESTAMP}, 
      #{taskType,jdbcType=VARCHAR}, #{taskYield,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.smart_admin.domain.Task" >
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskCode != null" >
        task_code,
      </if>
      <if test="taskTime != null" >
        task_time,
      </if>
      <if test="taskType != null" >
        task_type,
      </if>
      <if test="taskYield != null" >
        task_yield,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskCode != null" >
        #{taskCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTime != null" >
        #{taskTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskYield != null" >
        #{taskYield,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.smart_admin.domain.Task" >
    update task
    <set >
      <if test="taskCode != null" >
        task_code = #{taskCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTime != null" >
        task_time = #{taskTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskType != null" >
        task_type = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskYield != null" >
        task_yield = #{taskYield,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.smart_admin.domain.Task" >
    update task
    set task_code = #{taskCode,jdbcType=VARCHAR},
      task_time = #{taskTime,jdbcType=TIMESTAMP},
      task_type = #{taskType,jdbcType=VARCHAR},
      task_yield = #{taskYield,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>